body{
    background-image: url('img/background2.jpg');
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sana Unicode';
    line-height: 1.5;
    text-align: left;
}

a{
    text-decoration: none;
    font-family: garamond;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:link, a:visited {
    color: darkblue;
}

a:hover, a:active{
    background-color: none;
    color: #000000;
}

.body{
    margin: 0 auto;
    width: 65%;
    clear: both;
    margin-bottom: 1%;
}

.wrap ul li{
    display: inline-block;
    font-size: 75%;
    font-family: bold, serif;
}

.wrap ul li a{
    color: #ffffff;
}

.wrap {
    background-color: #101011;
}

#img-wrap {
    background-color: #101011;
    padding: 10px;
    /*border-radius: 5px;*/
}

.widget-area {
    background-color: #101011;
}

.link_wrap {
    background-color: #101011;
}

#logo_img{
    margin: 10px;
    padding: 5px;
}

#search {
    float: right;
    padding: 9px;
}

.text_input {
    margin: 0;
    padding: 4px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
	color: #666;
	border: 1px solid #0076a3; border-right: 0px;
	border-top-left-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	}

.submit_button {
	margin: 0;
	padding: 6px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.submit_button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}

.clear {
    clear:both;
}


#coffee-img {
    max-width: 100%;
}

#quote-wrap {
    padding: 15px 30px;
    background-color: #101011;
    font-family: garamond;
    font-size: 150%;
}

.text-quote {
    color: #818187;
}

.twitter-wrap {
    background-color: #101011;
}

.twitter{
    padding: 5%;
}

.icons {
    max-height: 15%;
    max-width: 15%;
}

.grid_header{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.quote-twitter-wrap {
    display: grid;
}

.quote-twitter-wrap div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.quote-twitter-wrap div:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
}

.mainContent{
    line-height: 17px;
    /*overflow: hidden;*/
}

.mainContent {
    display: grid;
    /*width: 50%;*/
}

.mainContent div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.mainContent div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.content-grid div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.content-grid div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: -1;
}

.content-grid div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.content-grid div:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: -1;
}

.content-grid div:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.content-grid div:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: -1;
}


.innerContent{
    background-color: #FFFFFF;
    box-sizing: inherit;
    /*margin: 5px 0px 5px 0px;*/
}

.content_img_container {
    padding: 15% 14%;
    box-sizing: inherit;
}

.content-img {
    width: 100px;
    height: 100px;
    clear: none;
}

.btn-container{
    margin: auto;
    height: 20px;
    width: 85px;
    float: left;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

.btn {
    width: 120px;
    border-radius: 4px;
    font-size: 12px;
    background: #aaabbb;
    color: white;
    font-family: serif;
}

.sideContent {
    background-color: #FFFFFF;
}

.text {
    font-family: garamond;
    font-size: 90%;
}

.links-bottom {
    font-family: serif;
    font-size: 90%;
}

.contentHeader {
    font-family: garamond;
    font-size: 150%;
}

.bottomHeader {
    background-color: #ffffff;
    padding: 2%;
}

.countries {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.superContent {
    background-color: #ffffff;
}

.logo_grid {
    display: grid;
    background-color: #ffffff;
    padding: 4%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 40px;
}

.content-logo-img {
    height: 40px;
    width: 75px;
}

.post-info{
    font-style: serif;
    color: darkblue;
    font-size: 70%;
}

.footer_grid {
    display: grid;
    background-color: #101011;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.flickr_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.flick_img {
    border: 10px;
}

.footer_content {
    font-family: garamond;
    font-size: 150%;
    color: white;
}

.footer_text {
    font-family: garamond;
    font-size: 90%;
    color: #616166;
}

.footer_quote {
    font-family: garamond;
    color: #818187;
    font-size: 90%;
}

.footer_div {
    padding: 5%;
    margin 0;
}